<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>集成播控平台V4</title>

    <link rel="stylesheet" type="text/css" href="js/jquery-easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="js/jquery-easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script type="text/javascript" src="js/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/cloud.js"></script>

    <script language="javascript">
        if (window != top){
            top.location.href = location.href;
        }

        $(function() {
            $('.loginbox').css({'position': 'absolute', 'left': ($(window).width() - 692) / 2});
            $(window).resize(function () {
                $('.loginbox').css({'position': 'absolute', 'left': ($(window).width() - 692) / 2});
            });
        })
    </script>
</head>

<body style="background-color:#1c77ac; background-image:url(images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>

    <div class="logintop">
        <span>欢迎登录集成播控平台V4</span>
        <ul>
            <li><a href="#">回首页</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>

    <div class="loginbody">
        <span class="systemlogo"></span>
        <div class="loginbox">
            <form action="/login" method="post">
                <ul>
                    <li><input class="loginuser" name="userName" type="text"  value="" onclick="JavaScript:this.value=''"/></li> <div th:text="${session.loginMsg}"></div>
                    <li><input class="loginpwd" name="password" type="password"  value="" onclick="JavaScript:this.value=''"/></li>
                    <li><input type="submit" class="loginbtn " value="登录" /><label><input name="" type="checkbox" value="" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="loginbm">版权所有 Copyright © 2017-upotv.cn</div>
</body>
</html>
